// search box
.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 30px;

  input {
    border: 1px solid black;
    border-radius: 7px;
  }

  button {
    background-color: green;
    color: #ffff;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: darkgreen;
    }
  }
}

// movie list

.movie-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: auto;
  gap: 20px;
  flex-wrap: wrap;

  .card {
    width: 200px;
    height: 250px;
    margin-bottom: 150px;

    img {
      border-radius: 12px;
      cursor: pointer;
    }

    h3 {
      font-weight: 600;
    }
  }
}
